.container_product {
  width: auto;
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 10px 40px;
    padding-left: 5%;
    padding-right: 5%;
    button {
      border: none;
      background: none;
      border-bottom: 1px solid;
    }
    .options {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 49.5%;
      right: 5%;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid #ddd;
      padding: 10px;
      z-index: 1;
    }

    .options p {
      margin: 0;
      padding: 5px;
      cursor: pointer;
    }

    .options p:hover {
      background-color: #f2f2f2;
    }
  }
  .breadcrumb {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
  }
  #breadcrumb {
    width: 100%;
    height: 103%;
    padding-left: 25px;
    border-top: 0.5px solid #cccaca;
    border-bottom: 0.5px solid #cccaca;
    .item-breadcrumb:hover {
      color: blue;
    }
  }
}
.container-fluid.form-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.img_product {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
}

.img_product img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_product:hover img {
  transform: rotate(10deg) scale(1.8);
}

.row.row-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.col-product {
  text-align: center;
  margin: 10px;
}

.pagination {
  justify-content: center;
  margin-bottom: 20px;
}
