.register-screen {
  display: flex;

  .register-left-section {
    background-color: #3498db;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    h2 {
      margin-left: 15%;
      font-size: 3em;
      font-family: "Your Preferred Font", sans-serif;
      font-weight: 500;
    }

    .gender-options {
      display: flex;
      font-weight: 500;
      width: 155px;
    }
  }

  .register-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .back-home {
  }

  .gender-options {
    display: flex;
    font-weight: 500;
    width: 155px;
  }

  .male {
    height: 18px;
    line-height: 18px;
  }

  .female {
    height: 18px;
  }

  .icon-back {
    margin-left: 0;
    color: #3498db;
  }
  .error-message {
    color: red;
    font-size: 14phonenumberpx;
  }
  form {
    max-width: 400px;
    width: 100%;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
    }

    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      width: 30%;
      margin-right: 20px;
      &:hover {
        background-color: #10e4f3; // Màu nền mới khi hover
        transition: background-color 0.3s ease;
        // Hiệu ứng chuyển động 0.3s khi hover
      }
    }

    .register-back {
      padding-top: 20px;
      
    }
    .register-submit {
      margin-top: 20px;
    }

    .additional-options {
      display: flex;
      width: 100%;
      padding-top: 20px;
      align-items: center;

      p {
        padding-bottom: 8px;
      }

      span {
        color: #3498db;
        cursor: pointer;
        &:hover {
          color: #10e4f3; // Màu mới khi hover
        }
      }
    }

    .additional-options:hover {
      color: #10e4f3;
    }
  }
}
